// 重置菜单栏的样式
.sidebar > .sidebar-links > li > a.sidebar-link{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-top: 0;
    padding-bottom: 0;
}
.sidebar-heading{
    font-size: 15px !important;
    font-weight: 600 !important;
}

h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}


.mt-20 {
    margin-top: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.ml-10 {
    margin-left: 10px;
}