@import "icon/icon.scss";
.fox-icon {
    display: inline-block;
}
.is-spin {
    transition: 0.3s;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
