@import "var";

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
    transition: $fox--fade-linear-transition;
}

.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
    opacity: 0;
}

.fox-fade-in-linear-enter-active,
.fox-fade-in-linear-leave-active {
    transition: $fox--fade-linear-transition;
}

.fox-fade-in-linear-enter,
.fox-fade-in-linear-leave,
.fox-fade-in-linear-leave-active {
    opacity: 0;
}

.fox-fade-in-enter-active,
.fox-fade-in-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.fox-fade-in-enter,
.fox-fade-in-leave-active {
    opacity: 0;
}

.fox-zoom-in-center-enter-active,
.fox-zoom-in-center-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.fox-zoom-in-center-enter,
.fox-zoom-in-center-leave-active {
    opacity: 0;
    transform: scaleX(0);
}

.fox-zoom-in-top-enter-active,
.fox-zoom-in-top-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $fox--md-fade-transition;
    transform-origin: center top;
}

.fox-zoom-in-top-enter,
.fox-zoom-in-top-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.fox-zoom-in-bottom-enter-active,
.fox-zoom-in-bottom-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $fox--md-fade-transition;
    transform-origin: center bottom;
}

.fox-zoom-in-bottom-enter,
.fox-zoom-in-bottom-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.fox-zoom-in-left-enter-active,
.fox-zoom-in-left-leave-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: $fox--md-fade-transition;
    transform-origin: top left;
}

.fox-zoom-in-left-enter,
.fox-zoom-in-left-leave-active {
    opacity: 0;
    transform: scale(0.45, 0.45);
}

.collapse-transition {
    transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
    transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}

.fox-list-enter-active,
.fox-list-leave-active {
    transition: all 1s;
}

.fox-list-enter,
.fox-list-leave-active {
    opacity: 0;
    transform: translateY(-30px);
}

.fox-opacity-transition {
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
